* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html, body {
  height: 100%;
  width: 100%;
}

.Main {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
  background: #f3f3f3;
}

.calculator {
  height: 500px;
  width: 320px;
  display: flex;
  flex-direction: column;
  border: 10px solid rgba(31, 9, 9, 0.473);
  padding: 10px;
  border-radius: 15px;
  background: #fff;
}

.screen {
  height: 100px;
  width: 100%;
  border: 4px solid black;
border-radius: 10px;
  margin-bottom: 10px;
  background-color: #e6e6e6;
}
.screen:hover {
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.3);
}

.buttons {
  flex: 1;
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  grid-gap: 10px;
}

.btn {
  border: 2px solid black;
  background-color: #49b64e;
  font-size: 20px;
  font-weight: bold;
  border-radius: 60%;
  cursor: pointer;
  transition: all 0.2s ease;
}

.btn:hover {
  background-color: rgb(25, 100, 23);
}
